<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>318021857036-b3ke5rdq9qpsko7qkqkg0tk2if33ro7j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.318021857036-b3ke5rdq9qpsko7qkqkg0tk2if33ro7j</string>
	<key>API_KEY</key>
	<string>AIzaSyDrML3uyYp4oY6LLaCrSeKzW4qnpF2QoC0</string>
	<key>GCM_SENDER_ID</key>
	<string>318021857036</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SweetDealz.SweetDealz</string>
	<key>PROJECT_ID</key>
	<string>sweetdeal-94e7c</string>
	<key>STORAGE_BUCKET</key>
	<string>sweetdeal-94e7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318021857036:ios:c39999c82e5c80d18be329</string>
	<key>DATABASE_URL</key>
	<string>https://sweetdeal-94e7c.firebaseio.com</string>
</dict>
</plist>